@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <input type="button" value="Hi" asp-action="ShowWeatherReport" asp-controller="Home"/>
    <button value="Hello" onclick='location.href="@Url.Action("ShowWeatherReport")"' ></button>
</div>
